<!DOCTYPE html>
<html>
<head>
    <title>Twitter Search Feed</title>
    <style>
        .author {
            font-style: italic;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h1>Backbone for Twitter</h1>
<p>https://www.youtube.com/watch?v=2BDGBJUtAmo</p>
<form id="new-tweet">
    <label>Author:</label>
    <input id="author-name" name="author-name" type="text" />
    <lable>Status:</lable>
    <input id="status-update" name="status-update" type="text" />
    <input type="submit" value="Submit" />
</form>

<hr/>
<div id="tweets-container" class="list"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.0/json3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script>
    //(function($) {})(jQuery);
    var Tweet = Backbone.Model.extend({
        defaults: function() {
            return {
                author: '',
                status: ''
            }
        }
    });
    var TweetsList = Backbone.Collection.extend({
        modal: Tweet
    });
    var tweets = new TweetsList();

    var TweetView = Backbone.View.extend({
        model: new Tweet(),
        tagName: 'div',
        events: {
            'click .edit': 'edit',
            'blur .status': 'close',
            'keypress .status': 'onEnterUpdate',
            'click .delete': 'delete'
        },
        initialize: function() {
            this.template = _.template($('#tweet-template').html());
        },
        render: function() {
            this.$el.html(this.template(this.model.toJSON()));
            return this;
        },
        edit: function(ev) {
            ev.preventDefault();
            this.$('.status').attr('contenteditable', true).focus();
        },
        close: function(ev) {
            var status = this.$('.status').text();
            this.model.set('status', status);
            this.$('.status').removeAttr('contenteditable');
        },
        onEnterUpdate: function(ev) {
            var self = this;
            if(ev.keyCode === 13) {
                this.close();
                _.delay(function() { self.$('.stautus').blur() }, 100);
            }
        },
        delete: function(ev) {
            ev.preventDefault();
            tweets.remove(this.model);
        }
    });

    var TweetsView = Backbone.View.extend({
        model: tweets,
        el: $('#tweets-container'),
        initialize: function() {
            this.model.on('add', this.render, this);
            this.model.on('remove', this.render, this);
        },
        render: function() {
            var self = this;
            self.$el.html('');
            _.each(this.model.toArray(), function(tweet, i) {
                self.$el.append((new TweetView({ model: tweet })).render().$el);
            });
            return this;
        }
    });

    $(function() {
        $('#new-tweet').submit(function(ev) {
            var tweet = new Tweet({ author: $('#author-name').val(), status: $('#status-update').val() });
            tweets.add(tweet);
            console.log(tweets.toJSON());
            // $('div.list').appendChild(tweets.toJSON());
            return false;
        });
        var appView = new TweetsView();
    });
</script>
<script type="text/template" id="tweet-template">
    <span class="author"><%= author %>: </span>
    <span class="status"><%= status %></span>
    <a href="#" class="edit">[edit]</a>
    <a href="#" class="delete">[delete]</a>
</script>
</body>
</html>
